body{font-family: Arial; background-color: white; box-sizing: border-box; padding: 10px;}

.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 1px;
}
.logo img{
    width: 250px;
}

.logo2 img{
    width: 200px;
    
    display: inline-block;
    vertical-align: top;
}
.container_menu{
    width: 100%;
    padding: 70px;
    
    background: rgb(186, 25, 201);
    padding: 0px 20px;
}
.menu1{
    max-width: 1200px;
    margin: auto;
    height: 100px;

}
nav{
    height: 100%;

}
nav > ul{
    height: 100%;
    display: flex;
}
nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li >a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    transition:  all 300ms ease;
}
nav > ul > li >a:hover{
    transform: scale(1.1);
    background: rgb(227, 103, 243);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0.5);
}
#selected{
    transform: scale(1.1);
    background: rgb(227, 103, 243);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0.5);
}

.container_menu{
    width: 100%;
    padding: 70px;
    
    background: rgb(186, 25, 201);
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100px;
}

form{
    background-color: white;
    border-radius: 0 0 3px 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
}

input, textarea{
    border: 0;
    outline: none;

    width: 280px;
}

.field{
    border: solid 1px #ccc;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    width: 240px;
}

.field:focus{
    border-color: rgb(186, 25, 201);
}

.center-content{
    text-align: center;
}

.field-container div{
    display: inline-block;
    vertical-align: top;
}

.field-container i{
    background-color: #eee;
    border-radius: 4px 0 0 4px;
    color: rgb(199, 88, 209);
    padding: 10px 10px 12.5px 10px;
    border: solid 1px #ccc;
    max-height: 35px;
    margin-right: -5px;
    vertical-align: top;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
    width: 50%;
    margin-right: -3.5px;
}

#menu ul li a{
    background-color: rgb(199, 88, 209);
    color: #222;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: rgb(232, 142, 240);
}

#formularios, #menu{
    margin: 0 auto;
    width: 539px;
}

.active{
    background-color: white !important;
}

.columns >div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.columns .field{
    width: 170px;
}

#form_register{
    display: none;
}

.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}

.btn-green{
	color: white;
	background-color: rgb(186, 25, 201);
}

.btn-black{
	color: #ddd;
	background-color: #222;
}
.btn-green:hover{
	background-color: rgb(199, 88, 209);	
}
.btn-green:active{
	background-color: rgb(123, 49, 129);
}